*{
  margin: 0;
  padding: 0;
}
body {
    margin: 0;
    font-family: "Lucida Grande";
  }
  
  a {
    text-decoration: none;
  }
  .container{
      width: auto;
      padding: 0 15px;
      margin: 0 auto;
  }
  li{
      list-style: none;
  }
  .headerLogo{
    margin-left: 2%;
    margin-top: 0;
    line-height: 45px ;
    padding: 6px;
  }
  .headerLogo a{
    font-size: 38px;
    font-weight: bold;
    color: white;
    display: flex;
  }
header{
  height: 72px;
  width: 100%;
  background-color: rgba(17, 13, 12 ,0.9);
  position: fixed;
  top:0;
  z-index: 10;
}
.logoHeader{
  padding: 0 25px;
  margin-top: 20px;
}
.headerLeft{
  color: #8E837D;
  float: left;
}
.headerRight li{
  color: #C0B3AD;
  float: right;
  align-items: center;
}
.headerRight a{
line-height: 72px;
padding: 0 25px;
color: #C0B3AD;
display: block;
}
.headerRight:hover{
  background-color: rgb(142, 131, 125, 0.9);
}
.headerRight{
  background-color: rgb(142, 131, 125, 0.5);
  transition: all 0.5s;
  width: 95%;
}
.topWrapper{
  padding: 180px 0 100px 0;
  background-image: url(https://images.unsplash.com/photo-1468164016595-6108e4c60c8b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2700&q=80);
  background-size: cover;
  color:white;
  text-align: center;
}
.topWrapper h1{
  opacity:0.7 ;
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.topWrapper p{
  opacity: 0.7;
  margin-bottom: 3px;
}
.butn{
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 10px;
  margin-top: 20px;
}
.hotOffer{
  background-color: #8E837D;
}
.btn:hover{
  opacity: 1;
}
.fa{
  margin: 5px;
}
.testiWrapper{
  margin-top: 15px 20px;
  background-color: #C0B3AD;
  height: auto;
  text-align: center;
}
.heading{
  padding-top: 40px;
  padding-bottom: 30px;
  color: black;
}
.heading h2{
  font-weight: normal;
}
.testiContainer{
  max-width: 1000px;
    margin: 50px auto;
    display: flex;
}
.testimoni{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f1f1f1;
  width: 33.3%;
  overflow: hidden;
  margin: 10px;
}
.testiPhoto{
  height: 250px;
  background-color: white;
}
.testiContent{
  text-align: center;
    padding-bottom: 15px;
    padding-top: 15px;
    line-height: 1.7;
}
.pho{
  width: auto;
  height: 250px;
}
.topWrapperAlbum{
  padding: 180px 0 100px 0;
  background-image: url(https://images.pexels.com/photos/2032719/pexels-photo-2032719.jpeg?cs=srgb&dl=pexels-dids-2032719.jpg&fm=jpg);
  background-size: cover;
  color:white;
  text-align: center;
}
.main{
background-color: #DFE3F1;
}
.titleAlbum{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 38px;
}
.alb{
width: 150px;
height: auto;
}
.albumCard{
  max-width: 1000px;
  margin:0 auto;
  display:flex;
}
.albumContainer{
  border: 1px solid black;
  border-radius: 10px;
  background-color: #f1f1f1;
  width: 33.3%;
  overflow: hidden;
  margin: 10px;
  text-align: center;
  height: 350px;
}
.photoArt{
  height: 200px;
  width: 100%;
}
.albumPhoto{
  margin-bottom: 15px;
}
#iconPlay{
  width: 50px;
  height: 50px;
  cursor: pointer;
}
.songName{
  font-size: 14px;
  margin-bottom: 4px;
}
.artistName{
  font-weight: bold;
  font-size: 18px;
  margin-bottom: 5px;
}
.topWrapperPricing{
  background-image: url(https://images.pexels.com/photos/6966/abstract-music-rock-bw.jpg?cs=srgb&dl=pexels-snapwire-6966.jpg&fm=jpg);
  padding: 180px 0 100px 0;
  background-size: cover;
  color:black;
  text-align: center;
}
.topWrapperPricing h1{
  opacity:0.7 ;
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.productWrapper{
  max-width: 1000px;
  float: left;
  margin: 0 auto;
  display: flex;
}
.wrapper {
  height: 420px;
  width: 324px;
  margin: 50px 50px;
  border-radius: 7px 7px 7px 7px;
  -webkit-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  -moz-box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
  box-shadow: 0px 14px 32px 0px rgba(0, 0, 0, 0.15);
}

.product-info {
  float: left;
  height: 420px;
  width: 350px;
  border-radius: 0 7px 10px 7px;
  background-color: #ffffff;
}

.product-text {
  height: 300px;
  width: 327px;
}

.product-text h1 {
  margin: 0 0 0 38px;
  padding-top: 52px;
  font-size: 34px;
  color: #474747;
}

.product-text h1,
.product-price-btn p {
  font-family: 'Bentham', serif;
}

.product-text h2 {
  margin: 0 0 47px 38px;
  font-size: 13px;
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #d2d2d2;
  letter-spacing: 0.2em;
}

.product-text p {
  height: 125px;
  margin: 0 0 0 38px;
  font-family: 'Playfair Display', serif;
  color: #8d8d8d;
  line-height: 1.7em;
  font-size: 15px;
  font-weight: lighter;
  overflow: hidden;
}

.product-price-btn {
  height: 103px;
  width: 327px;
  margin-top: 17px;
  position: relative;
}

.product-price-btn p {
  display: inline-block;
  position: absolute;
  top: -13px;
  height: 50px;
  font-family: 'Trocchi', serif;
  margin: 0 0 0 38px;
  font-size: 28px;
  font-weight: lighter;
  color: #474747;
}

/* span {
  display: inline-block;
  height: 50px;
  font-family: 'Suranna', serif;
  font-size: 34px;
} */

.product-price-btn button {
  float: right;
  display: inline-block;
  height: 50px;
  width: 176px;
  margin: 0 40px 0 16px;
  box-sizing: border-box;
  border: transparent;
  border-radius: 60px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 0.2em;
  color: #ffffff;
  background-color: #9cebd5;
  cursor: pointer;
  outline: none;
}

.product-price-btn button:hover {
  background-color: #79b0a1;
}
.topWrapperAbout{
  padding: 180px 0 100px 0;
  height: 250px;
  background-size: cover;
  color:white;
  text-align: center;
  background-image: url(https://images.pexels.com/photos/352505/pexels-photo-352505.jpeg?cs=srgb&dl=pexels-foteros-352505.jpg&fm=jpg);
}
.topWrapperAbout h1{
  opacity:0.7 ;
  font-size: 35px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}
.aboutTitle{
  text-align: center;
  margin-top: 25px;
  margin-bottom: 25px;
}
.aboutContent{
  max-width: 1000px;
  margin: 0 auto;
}
.contentWrapper{
  text-align: center;
  padding: 10px;
  margin-bottom: 18px;
}
